@model IEnumerable<Hydra.Models.User>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All users that are registered</h2>
<table class="table table-bordered table-responsive table-hover table-stripedk">
    <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.ID</td>
            <td>@user.Name</td>
            <td>@user.Gender</td>
            <td> @Html.ActionLink("Edit", "Edit", "User", new { id = user.ID })</td>
            <td> @Html.ActionLink("Delete", "Delete", "User", new { id = user.ID })</td>
        </tr>
    }
</table>

<div>
    <a class="btn-link" href='javascript:history.go(-1)'>Previous page</a>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

