
    <section class="fontStyle" style="display:grid; grid-template-columns:repeat(auto-fit, minmax(16rem, 1fr));grid-gap:1rem;margin:2rem 1rem">
        <div class="alert alert-info" role="alert">
            @Html.ActionLink("View statistics", "GetStatistics", "Statistics")
        </div>
        <div class="alert alert-danger" role="alert">
            @Html.ActionLink("View users info", "Details", "User")
        </div>
        <div class="alert alert-success" role="alert">
            @Html.ActionLink("Add products", "Create", "Product")
        </div>
        <div class="alert alert-warning" role="alert">
            @Html.ActionLink("Add store", "Create", "Store")
        </div>
        <div class="alert" role="alert">
            @Html.ActionLink("View Comments", "Details", "Comment")
        </div>
    </section>

<section>
    <h2>Search for users comments</h2>
    <form asp-action="Search" asp-controller="Admin" method="get">
        <div class="form-group">
            <label class="control-label">Start date</label>
            <input type="date" name="start" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">End date</label>
            <input type="date" name="end" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">User name</label>
            <select name="username" class="form-control">
                @foreach (var user in ViewBag.users as IEnumerable<User>)
                {
                    <option value="@user.UserName">@user.UserName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search!" class="btn btn-success" />
        </div>
    </form>
</section>