@model IEnumerable<SportWorld.Models.User>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All users that are registered</h2>
<table class="table table-bordered table-responsive table-hover table-stripedk">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Admin</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        if (!user.IsDeleted)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td>@user.IsAdmin.ToString()</td>
                <td> @Html.ActionLink("Edit", "Edit", "User", new { username = user.UserName })</td> |
                <td> @Html.ActionLink("Delete", "Delete", "User", new { username = user.UserName })</td>
            </tr>
        }
    }
</table>

<div>
    <a class="btn-link" href='javascript:history.go(-1)'>Previous page</a>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

